* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
}
#screen {
  height: 600px;
  width: 1000px;
  background-color: white;
}

#sky {
  height: 150px;
  position: relative;
  background: url(./img/sky.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#water {
  height: 450px;
  position: relative;
  background: url(./img/water.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#ship {
  position: absolute;
  bottom: 0;
  /* background-color: brown; */
  object-fit: contain;
}

#submarine {
  position: absolute;
  bottom: 50px;
  /* height: 20px; */
  object-fit: contain;
}

.torpedo {
  position: absolute;
  height: 30px;
  /* water height - torpedo height */
  bottom: calc(450px - 30px);
  transform: translateX(-50%);
  animation: move 10s linear;
  object-fit: contain;
}

@keyframes move {
  100% {
    bottom: 0;
  }
}
